@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";

}

<form method="post" enctype="application/x-www-form-urlencoded">

<div class=selected_items>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Тип</th>
                <th scope="col">Сумма</th>
                <th scope="col">Фонд</th>
                <th scope="col">Что</th>
                <th scope="col">Персона</th>
                <th scope="col">Месяц</th>
                <th scope="col">Номер месяца</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий (необязательно)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name=type></select>
                </td>

                <td>
                    <input type="number" name="sum" required>
                </td>

                <td>
                    <select name="fond"></select>
                </td>

                <td>
                    <select name="what"></select>
                </td>

                <td>
                    <select name="person"></select>
                </td>

                <td>
                    <select name="month"></select>
                </td>

                <td>
                    <select name="numberMonth"> </select>
                </td>

                <td>
                    <input type="date" name="date" required>
                </td>

                <td>
                    <input type="text" name="comm">
                </td>
            </tr>
        </tbody>
    </table>
</div>

</form>
<input type="button" class="sender_btn" value="Отправить" onclick="send_data()"/>
<div id="data-holder"></div>

 <script type="text/javascript">
    document.querySelector('[name="date"]').valueAsDate = new Date();
    const uriget = 'https://localhost:5001/GetResource';
    const urisend = 'https://localhost:5001/SaveData';
    let possiblePersonValues = [];

    let items = getItems();
    function sortItems(data){
        let indexType = data[0].indexOf("Тип")
        let indexFond = data[0].indexOf("Фонд")
        let indexPerson = data[0].indexOf("Персона")
        let indexWhat = data[0].indexOf("Что")
        let indexMonth = data[0].indexOf("месяц")
        let indexNumberMonth = data[0].indexOf("месяц - номер")    
       
        let type_box = document.querySelector('[name="type"]')
        let types = []
        for (let i = 1; i < data[1].length; i++)
        {
            if (data[i][0] != "")
            {
                types.push(data[i][indexType])
                let newOption = new Option(data[i][indexType], data[i][indexType]);
                type_box.append(newOption);
            }
        }
        let fond_box = document.querySelector('[name="fond"]')
        let fonds = []
        for (let i = 1; i < data[0].length; i++)
        {
            if (data[i][0] != "")
            {
                fonds.push(data[i][indexFond])
                let newOption = new Option(data[i][indexFond], data[i][indexFond]);
                fond_box.append(newOption);
            }
        }
        let what_box = document.querySelector('[name="what"]')
        let whats = []
        for (let i = 1; i < data[2].length; i++)
        {
            if (data[i][2] != "")
            {
                whats.push(data[i][indexWhat])
                let newOption = new Option(data[i][indexWhat], data[i][indexWhat]);
                what_box.append(newOption);
            }
        }
        let person_box = document.querySelector('[name="person"]')
        let persons = []
        for (let i = 1; i < data[4].length; i++)
        {
            if (data[i][4] != "")
            {
                persons.push(data[i][indexPerson])
                let newOption = new Option(data[i][indexPerson], data[i][indexPerson]);
                person_box.append(newOption);
            }
        }
        let months_box = document.querySelector('[name="month"]')
        let months = []
        for (let i = 1; i < data[8].length; i++)
        {
            if (data[i][8] != "")
            {
                months.push(data[i][indexMonth])
                let newOption = new Option(data[i][indexMonth], data[i][indexMonth]);
                months_box.append(newOption);
            }
        }
        let months_number_box = document.querySelector('[name="numberMonth"]')
        let number_months = []
        for (let i = 1; i < data[9].length; i++)
        {
            if (data[i][9] != "")
            {
                number_months.push(data[i][indexNumberMonth])
                let newOption = new Option(data[i][indexNumberMonth], data[i][indexNumberMonth]);
                months_number_box.append(newOption);
            }
        }
    }

    function getItems() {
      fetch(uriget)
        .then(response => response.json())
        .then(data => sortItems(data))
        .catch(error => console.error('Unable to get items.', error));
    }

    function send_data(){

        let arrayWithData = {
            type: document.querySelector('[name="type"]').value,
            sum: document.querySelector('[name="sum"]').value,
            fond: document.querySelector('[name="fond"]').value,
            what: document.querySelector('[name="what"]').value,
            person: document.querySelector('[name="person"]').value,
            month: document.querySelector('[name="month"]').value,
            numberMonth: document.querySelector('[name="numberMonth"]').value,
            date: document.querySelector('[name="date"]').value,
            comm: document.querySelector('[name="comm"]').value
        };
        if(arrayWithData['sum']==""){
            alert("Суммы нет")
            return
        }
        if(arrayWithData['date']==""){
            alert("Даты нет")
            return
        }
        console.log(JSON.stringify(arrayWithData))
        fetch(urisend, 
            {
            method: 'POST', 
            body: JSON.stringify(arrayWithData),
            headers: {
            'Content-Type': 'application/json'
                }
            }
        )
        .catch(error => console.error('Unable to add item.', error))
    }
</script>


